.div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #E5F9FC, #8BE0F1);
}

.divTemperatura{
    min-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40%;
    margin-bottom: 16px;
    border-radius: 16px;
    background-color: #fafafa;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.divPrevisao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 80%;
    height: 40%;
    border-radius: 16px;
    background-color: #fafafac6;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

}

.divPrevisao>section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divPrevisao{
    justify-content: space-around;
}

.infoSecundaria{
    height: 70%;
    width: 15%;
}

.infoSecundaria>section{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: normal;
}
.infoSecundaria>section>div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.containerInfo {
  display: flex;
  flex-direction: column;
  gap: 12px; /* Espaçamento vertical entre cada linha */
  max-width: 350px; /* Limita a largura para o alinhamento ficar visível */
  margin: 0 auto; /* Centraliza o bloco na tela, se necessário */
}

.linhaInfo {
  display: flex;
  align-items: center; /* Alinha verticalmente o ícone e os textos no centro da linha */
  width: 100%;
}

.icone {
  width: 24px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  margin-right: 12px;
  color: #897e93; 
}

.legenda {
  flex: 1; 
  text-align: left;
  font-size: 1rem;
  color: #4b5563; 
}

.valor {
  font-weight: bold;
  font-size: 1rem;
  text-align: right;
  color: #5474a1;
  margin-left: 8px;
}

.sla{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}

.loc{
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
}

.DivTitulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 20%;
}

.cidade{
    color: #5474a1;
    font-size: 24px;
}

.titulo{
    font-weight: 100;
    color: #4b5563;
}

.temp{
    display: flex;
    flex-direction: row;
    color: #5474a1;
}
.tempContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.numeroTemp{
    font-size: 72px;
    color: #5474a1;
}


.segundaSection{
    display: flex;
    flex-direction: row;
}

.div>div>h3{
    font-size: 36px;
}

.temp{
    font-size: 72px;
}

.descricao{
    font-size: 28px;
    color: #4b5563;
    font-weight: 100;
}

.humidity{
    font-size: 18px
}