.div{
    background: linear-gradient(to bottom, #F9FFFF, #E5F9FC);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    height: 10vh;
    border: solid 1px #00000030;
}

.centro{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.a{
    color: #5474a1;
    text-decoration: none;
}

@media (max-width:600px) {
    .a{
        display: none;
    }
    .centro{
        justify-content: center;
    }
}
