.div{
    background: linear-gradient(to bottom, #d6e0f8, #bed7fa);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    height: 10vh;
    border: solid 1px black;
}
.a{
    color: #5474a1;
    text-decoration: none;
}
