.div{
    background-color: #073ad4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    height: 70px;
}
.a{
    color: #fff;
    text-decoration: none;
}
